@model GeneticSystem.Areas.Admin.Models.FollowUp.FollowUpVM

<div class="col-md-12">
    <div class="comments-container">
        <ul id="comments-list" class="comments-list">
            <li>
                <div class="comment-main-level">
                    <div class="comment-avatar"><img src="@Model?.FollowUpByDoc?.Doctor?.ImagePath" alt=""></div>
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">@Model?.FollowUpByDoc?.Doctor?.EnFirstName</a></h6>
                            <span>@Model?.FollowUpByDoc?.CreatedOn</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            @Model?.FollowUpByDoc?.Summmary
                        </div>
                    </div>
                </div>
                <ul class="comments-list reply-list">
                    @foreach (var item in Model.FollowUpByDocConvList)
                    {
                        <li>
                            <div class="comment-avatar"><img src="@item.Sender.ImagePath" alt=""></div>
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
                                    <span>@item.CreatedOn</span>
                                    <i class="fa fa-reply"></i>
                                    <i class="fa fa-heart"></i>
                                </div>
                                <div class="comment-content">
                                    @item.Message
                                </div>
                            </div>
                        </li>
                    }
                </ul>
        </ul>
    </div>
</div>