@model Data.Helpers.PagedData<Data.Models.ClientOrder>


@{
    ViewData["Title"] = "Order List";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<style>

    /*.footer-wrapper {
        display: none;
        float: left;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding-left: 190px;
    }*/
    .popup-result {
        position: absolute;
        width: 600px;
        z-index: 1000;
        top: 54px;
    }


    .quick-search-block {
        border: 1px solid #eaebed;
        background: #f4f5f7;
        padding: 5px;
    }
</style>
<div class="prtm-content">
    <div class="prtm-page-bar">
        <ul class="breadcrumb">
            <li class="breadcrumb-item text-capitalize"><h2>@ViewData["Title"]</h2></li>
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="#">Ui elements</a></li>
            <li class="breadcrumb-item"><a href="#" class="active">Order List</a></li>
        </ul>
    </div>

    <div class="table-style">
        <div class="row mrgn-b-sm">
            <div class="col-md-4 col-lg-4">
                <div class="btn-group" role="group">
                    <button class="btn btn-warning btn-xs cancelEvent" id="cancelOrderBtn" type="button" style="display: none;"> Back </button>
                    <button class="btn btn-primary btn-xs" id="addClientOrderBtn" type="button"> New Order </button>
                    <button data-toggle="dropdown" class="btn btn-xs btn-info dropdown-toggle" type="button"><i class="fa fa-share-square-o" aria-hidden="true"></i> Export <i class="fa fa-sort-desc" aria-hidden="true"></i> </button>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div id="quickSearchBlock" class="row mrgn-b-sm">
            <div class="col-md-12 col-lg-12">
                <h5>Quick Search</h5>
                <div class="quick-search-block">
                    <div class="row">
                        <div class="col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-md-2 col-lg-2">
                                    Order No:
                                    <input type="text" id="orderNo" name="order-no" class="form-control" onkeyup="patientSearch()" />
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    Order ID No:
                                    <input type="text" id="id-no" name="id-no" class="form-control" autocomplete="off" onkeyup="patientSearch()" />
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    Patient Name:
                                    <input type="text" id="patientName" name="patient-name" class="form-control" autocomplete="off" onkeyup="patientSearch()" />
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    Patient Mobile:
                                    <input type="text" id="patientMobile" name="patient-mobile" class="form-control" autocomplete="off" onkeyup="patientSearch()" />
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    Patient City:
                                    <input type="text" id="patientCity" name="patient-city" class="form-control" autocomplete="off" onkeyup="patientSearch()" />
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    Birth Date:
                                    <input type="text" name="birth-date" class="form-control datepicker" autocomplete="off" onchange="patientSearch()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="prtm-block pos-relative">
            <div class="prtm-block-content">
                <div class="table-responsive">
                    <div id="orderArea" class="unseen">
                        @{
                            await Html.RenderPartialAsync("_Index");
                        }
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*MODAL*@
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

        </div>
    </div>
</div>
@*MODAL END*@


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chosen-js@1.8.7/chosen.jquery.js" integrity="sha256-TDtzz+WOGufaQuQzqpEnnxdJQW5xrU+pzjznwBtaWs4=" crossorigin="anonymous"></script>

    <script>
        //var ListHtml;

        //$(document).on("click", ".DltOrdrBtn", function () {
        //    var orderId = $(this).val();
        //    var target = event.target.parentElement.parentElement.style.display = 'none';
        //    $.ajax({
        //        url: '/admin/clientOrder/deleteOrder',
        //        type: 'GET',
        //        data: { orderId: orderId },
        //        success: function (result) {
        //            toastr.success('Record deleted!');
        //            $('#orderArea').html(result);
        //        }
        //    });
        //});

        //$(document).on("click", ".AttchOrdrBtn", function () {
        //    var userId = $(this).val();
        //    debugger
        //    $.ajax({
        //        url: '/admin/clientOrder/Attachment',
        //        type: 'GET',
        //        data: { userID: userId },
        //        success: function (response) {
        //            $(".modal-content").html(response);
        //            $("#exampleModalCenter").modal().toggle();
        //        },
        //        error: function () {
        //            toastr.error('Something went wrong');
        //        }
        //    });


        //    $(document).on("keyup", "#searchPatient", function () {
        //        //var user = $("#clientOrder_ClientOrder_UserID").val();
        //        var id = $(this).val();
        //        $.ajax({
        //            url: '/admin/patient/SearchForOrder',
        //            type: 'get',
        //            data: {
        //                ID: id
        //            },
        //            success: function (result) {
        //                $("#searchwithid").show();
        //                $("#searchwithid").empty();
        //                $("#searchwithid").append(result);
        //                var rowCount = $('#myTable >tbody >tr').length;
        //                if (rowCount == 0) {
        //                    $("#searchwithid").hide();
        //                }
        //                $('body').find('#ID').focus();
        //            }
        //        });
        //        $('#ID').focus();
        //    });

        //    $(document).on('click', '.selectPtntOrder', function () {
        //        var user = $(this).val();
        //        $("#searchwithid").hide();
        //        $.ajax({
        //            url: "/admin/patientorder/getpatientDetails",
        //            type: "get",
        //            data: { 'Id': user },
        //            success: function (data) {
        //                $("#clientOrder_ClientOrder_UserID").val(data.id);
        //                $("#clientOrder_ClientOrder_User_PatientPersonalInformation_DateOfBirth").val(data.patientPersonalInformation.dateOfBirth);
        //                $("#clientOrder_ClientOrder_User_ID").val(user);
        //                $("#clientOrder_ClientOrder_User_PatientPersonalInformation_BloodGroup_Name").val(data.patientPersonalInformation.bloodGroup.name);
        //                $("#clientOrder_ClientOrder_User_RegisterationNo").val(data.registerationNo);
        //                $("#clientOrder_ClientOrder_User_Address").val(data.address);
        //                $("#clientOrder_ClientOrder_User_Mobile").val(data.mobile);
        //            },
        //            error: function () {

        //            }
        //        });
        //    });


        //    function GetAttachment(id) {
        //        $.ajax({
        //            url: '/admin/user/Attachment?id=' + id + '&tableName=user',
        //            type: 'GET',
        //            success: function (data) {
        //                $(".modal-content").html(data);
        //                $("#exampleModalCenter").modal().toggle();
        //            },
        //            error: function () {
        //                toastr.error('Something went wrong');
        //            }
        //        });
        //    }        //var ListHtml;

        //$(document).on("click", ".DltOrdrBtn", function () {
        //    var orderId = $(this).val();
        //    var target = event.target.parentElement.parentElement.style.display = 'none';
        //    $.ajax({
        //        url: '/admin/clientOrder/deleteOrder',
        //        type: 'GET',
        //        data: { orderId: orderId },
        //        success: function (result) {
        //            toastr.success('Record deleted!');
        //            $('#orderArea').html(result);
        //        }
        //    });
        //});

        //$(document).on("click", ".AttchOrdrBtn", function () {
        //    var userId = $(this).val();
        //    debugger
        //    $.ajax({
        //        url: '/admin/clientOrder/Attachment',
        //        type: 'GET',
        //        data: { userID: userId },
        //        success: function (response) {
        //            $(".modal-content").html(response);
        //            $("#exampleModalCenter").modal().toggle();
        //        },
        //        error: function () {
        //            toastr.error('Something went wrong');
        //        }
        //    });


        //    $(document).on("keyup", "#searchPatient", function () {
        //        //var user = $("#clientOrder_ClientOrder_UserID").val();
        //        var id = $(this).val();
        //        $.ajax({
        //            url: '/admin/patient/SearchForOrder',
        //            type: 'get',
        //            data: {
        //                ID: id
        //            },
        //            success: function (result) {
        //                $("#searchwithid").show();
        //                $("#searchwithid").empty();
        //                $("#searchwithid").append(result);
        //                var rowCount = $('#myTable >tbody >tr').length;
        //                if (rowCount == 0) {
        //                    $("#searchwithid").hide();
        //                }
        //                $('body').find('#ID').focus();
        //            }
        //        });
        //        $('#ID').focus();
        //    });

        //    $(document).on('click', '.selectPtntOrder', function () {
        //        var user = $(this).val();
        //        $("#searchwithid").hide();
        //        $.ajax({
        //            url: "/admin/patientorder/getpatientDetails",
        //            type: "get",
        //            data: { 'Id': user },
        //            success: function (data) {
        //                $("#clientOrder_ClientOrder_UserID").val(data.id);
        //                $("#clientOrder_ClientOrder_User_PatientPersonalInformation_DateOfBirth").val(data.patientPersonalInformation.dateOfBirth);
        //                $("#clientOrder_ClientOrder_User_ID").val(user);
        //                $("#clientOrder_ClientOrder_User_PatientPersonalInformation_BloodGroup_Name").val(data.patientPersonalInformation.bloodGroup.name);
        //                $("#clientOrder_ClientOrder_User_RegisterationNo").val(data.registerationNo);
        //                $("#clientOrder_ClientOrder_User_Address").val(data.address);
        //                $("#clientOrder_ClientOrder_User_Mobile").val(data.mobile);
        //            },
        //            error: function () {

        //            }
        //        });
        //    });


        //    function GetAttachment(id) {
        //        $.ajax({
        //            url: '/admin/user/Attachment?id=' + id + '&tableName=user',
        //            type: 'GET',
        //            success: function (data) {
        //                $(".modal-content").html(data);
        //                $("#exampleModalCenter").modal().toggle();
        //            },
        //            error: function () {
        //                toastr.error('Something went wrong');
        //            }
        //        });
        //    }

                    $(document).on("keyup", "#searchPatient", function () {
                //var user = $("#clientOrder_ClientOrder_UserID").val();
                var id = $(this).val();
                $.ajax({
                    url: '/admin/patient/SearchForOrder',
                    type: 'get',
                    data: {
                        ID: id
                    },
                    success: function (result) {
                        $("#searchwithid").show();
                        $("#searchwithid").empty();
                        $("#searchwithid").append(result);
                        var rowCount = $('#myTable >tbody >tr').length;
                        if (rowCount == 0) {
                            $("#searchwithid").hide();
                        }
                        $('body').find('#ID').focus();
                    }
                });
                $('#ID').focus();
            })

        
            $(document).on('click', '.selectPtntOrder', function () {
                var user = $(this).val();
                $("#searchwithid").hide();
                $.ajax({
                    url: "/admin/patientorder/getpatientDetails",
                    type: "get",
                    data: { 'Id': user },
                    success: function (data) {
                        $("#clientOrder_ClientOrder_UserID").val(data.id);
                        $("#clientOrder_ClientOrder_User_PatientPersonalInformation_DateOfBirth").val(data.patientPersonalInformation.dateOfBirth);
                        $("#clientOrder_ClientOrder_User_ID").val(user);
                        $("#clientOrder_ClientOrder_User_PatientPersonalInformation_BloodGroup_Name").val(data.patientPersonalInformation.bloodGroup.name);
                        $("#clientOrder_ClientOrder_User_RegisterationNo").val(data.registerationNo);
                        $("#clientOrder_ClientOrder_User_Address").val(data.address);
                        $("#clientOrder_ClientOrder_User_Mobile").val(data.mobile);
                    },
                    error: function () {

                    }
                });
            });

            var ListHtml;


            $(document).on("click", ".DltOrdrBtn", function () {
                var orderId = $(this).val();
                var target = event.target.parentElement.parentElement.style.display = 'none';
                $.ajax({
                    url: '/admin/clientOrder/deleteOrder',
                    type: 'GET',
                    data: { orderId: orderId },
                    success: function (result) {
                        toastr.success('Record deleted!');
                        $('#orderArea').html(result);
                    }
                });
            });

            $(document).on("click", ".AttchOrdrBtn", function () {
                var userId = $(this).val();
                debugger
                $.ajax({
                    url: '/admin/clientOrder/Attachment',
                    type: 'GET',
                    data: { userID: userId },
                    success: function (response) {
                        $(".modal-content").html(response);
                        $("#exampleModalCenter").modal().toggle();
                    },
                    error: function () {
                        toastr.error('Something went wrong');
                    }
                });
            });

            function GetAttachment(id) {
                $.ajax({
                    url: '/admin/user/Attachment?id=' + id + '&tableName=user',
                    type: 'GET',
                    success: function (data) {
                        $(".modal-content").html(data);
                        $("#exampleModalCenter").modal().toggle();
                    },
                    error: function () {
                        toastr.error('Something went wrong');
                    }
                });
            }


            $(document).on("click", ".UpdtOrdrBtn", function () {
                ListHtml = document.getElementById('orderArea').innerHTML;
                var orderId = $(this).val();
                $.ajax({
                    url: '/admin/clientOrder/updateOrder',
                    type: 'GET',
                    data: {
                        orderId: orderId
                    },
                    success: function (result) {
                        $('#orderArea').html(result);
                        loadMultiSelect();
                        document.getElementById("postUpdatebtn").style.display = 'block';
                        document.getElementById("signupform").style.display = 'none';
                        document.getElementById("quickSearchBlock").hidden = true;
                        document.getElementById("addClientOrderBtn").style.display = 'none';
                        document.getElementById("cancelOrderBtn").style.display = 'block';
                        document.getElementById("postUpdatebtn").addEventListener("click", function () {
                            updateOrderData();
                        });
                    },
                    error: function () {
                        toastr.error("Something went wrong!");
                    }
                });
            });


            $(document).on("click", ".cancelEvent", function () {
                document.getElementById('orderArea').innerHTML = ListHtml;
                document.getElementById("cancelOrderBtn").style.display = 'none';
                document.getElementById("addClientOrderBtn").style.display = 'block';
                document.getElementById("quickSearchBlock").hidden = false;
            });

            document.getElementById("addClientOrderBtn").addEventListener("click", function () {
                orderAreaData = document.getElementById("orderArea").innerHTML;
                addOrderData();
            });



            function updateOrderData() {
                var formdata = new FormData($('form').get(0));
                formdata.append("GeneTemplateId", $("#TestType").val());
                $.ajax({
                    type: 'POST',
                    url: "/admin/clientorder/UpdateOrder",
                    data: formdata,
                    dataType: "text",
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        toastr.info('Record saved');
                        document.getElementById('orderArea').innerHTML = response;
                    },
                    error: function (xhr, status) {
                        toastr.error('Something went wrong');
                    }
                });

            }

            function resetOrderArea() {
                document.getElementById("orderArea").innerHTML = orderAreaData;
            }

            function addOrderData() {
                ListHtml = document.getElementById('orderArea').innerHTML;
                $.ajax({
                    type: "GET",
                    url: '/admin/clientorder/addOrder',
                    success: function (result) {
                        $('#orderArea').html(result);
                        loadMultiSelect();
                        document.getElementById("quickSearchBlock").hidden = true;
                        document.getElementById("addClientOrderBtn").style.display = 'none';
                        document.getElementById("cancelOrderBtn").style.display = 'block';
                    },
                    error: function () {
                        alert("Content load failed.");
                    }
                });
            }

            function loadMultiSelect() {
                $('.tryMultiselect').chosen();
            }

            function GetTemplate() {
                var testtype = $("#clientOrder_ClientOrder_TemplateID").val();
                $.ajax({
                    url: '/admin/clientOrder/GetTemplateData',
                    type: 'get',
                    data: {
                        type: testtype
                    },
                    success: function (result) {
                        $("#setTemplate").html(result);
                        $('.tryMultiselect').chosen();
                    }
                });
            }

            function test() {
                var user = $("#clientOrder_ClientOrder_UserID").val();
                $.ajax({
                    url: "/admin/patientorder/getpatientDetails",
                    type: "get",
                    dataType: "json",
                    data: { 'Id': user },
                    success: function (data) {

                        $("#clientOrder_ClientOrder_User_PatientPersonalInformation_DateOfBirth").val(data.patientPersonalInformation.dateOfBirth);
                        $("#clientOrder_ClientOrder_User_ID").val(user);
                        $("#clientOrder_ClientOrder_User_PatientPersonalInformation_BloodGroup_Name").val(data.patientPersonalInformation.bloodGroup.name);
                        $("#clientOrder_ClientOrder_User_RegisterationNo").val(data.registerationNo);
                        $("#clientOrder_ClientOrder_User_Address").val(data.address);
                        $("#clientOrder_ClientOrder_User_Mobile").val(data.patientPersonalInformation.City.Name);
                    },
                    error: function (jqxhr, status, error) {
                        debugger
                        alert()
                    }
                });
            }

            function saveOrderFunction() {
                var formdata = new FormData($('form').get(0));
                formdata.append("GeneTemplateId", $("#TestType").val());
                $.ajax({
                    type: 'POST',
                    url: "/admin/clientorder/AddOrder",
                    data: formdata,
                    dataType: "text",
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        toastr.info('Record saved');
                        $("#orderArea").html(response);
                        document.getElementById("quickSearchBlock").hidden = false;
                        document.getElementById("addClientOrderBtn").style.display = 'block';
                        document.getElementById("cancelOrderBtn").style.display = 'none';
                    },
                    error: function (xhr, status) {
                        toastr.error('Something went wrong');
                    }
                });
            }



            $('.datepicker').datepicker({
                format: "mm-dd-yyyy",
                autoclose: true,
            }).on('changeDate', function (ev) {
                $(this).datepicker('hide');

            }).keydown(function (event) {
                if (event.which == 9)
                    $('.datepicker').datepicker("hide");

            });

            $(document).ready(function () {
                $('#registerNo').autocomplete({
                    source: '/admin/patient/autocompletereg'
                });
                debugger
            });

            $(document).ready(function () {
                $('#patientName').autocomplete({
                    source: '/admin/patient/autocompletename'
                });
                debugger
            });
            $(document).ready(function () {
                $('#id-no').autocomplete({
                    source: '/admin/patient/autocompleteid'
                });
                debugger
            });

            $(document).ready(function () {
                $("body").on("click", '.page-number', function () {
                    var page = parseInt($(this).html());
                    debugger
                    $.ajax({
                        url: '/admin/clientorder/getOrders',
                        data: { "page": page },
                        success: function (data) {
                            $("#orderArea").html(data);
                        },
                        error: function (xhr, status) {
                            toastr.error('Something went wrong');
                        }
                    });
                });
            });

            function GetID(id) {
                debugger
                $("#update-patient").attr("href", "/admin/patientorder/updateorder/" + id);
            }

            function patientSearch() {
                //         public string RegistrationNo { get; set; }
                //public int OrderNo { get; set; }
                //public int ID { get; set; }
                //public string PatientName { get; set; }
                //public int PatientMobile { get; set; }
                //public string PatientCity { get; set; }
                //public string BirthDate { get; set; }
                //public int Status { get; set; }

                var model = {
                    RegistrationNo: 0,
                    OrderNo: $('input[name="order-no"]').val(),
                    ID: $('input[name="id-no"]').val(),
                    PatientName: $('input[name="patient-name"]').val(),
                    PatientMobile: $('#patientMobile').val(),
                    PatientCity: $('#patientCity').val(),
                    BirthDate: $('input[name="birth-date"]').val(),
                }

                $.ajax({
                    url: '/admin/clientorder/searchorder',
                    type: 'POST',
                    data: model,
                    success: function (result) {
                        $(".unseen").html(result)
                    },
                    error: function (xhr, status) {
                        toastr.error('Something went wrong');
                    }
                });

            };

            function dynamicAdmissionFields() {
                var TypeID = $("#TypeID").val();
                if (TypeID != null) {
                    if (TypeID == 66 || TypeID == 63) {
                        $("#RefferedByDrop").show();
                        $("#ReservedByBox").hide();
                        $("#AppointmentBox").hide();
                    } else if (TypeID == 69) {
                        $("#AppointmentBox").show();
                        var AppointmentID = $("#AppointmentID").val();
                        if (AppointmentID != 0 && AppointmentID != null) {
                            $.ajax({
                                url: '/admin/patient/GetAppointmentReservedBy',
                                type: 'POST',
                                data: { AppointmentID: AppointmentID },
                                success: function (result) {
                                    debugger
                                    $("#ReservedBy").val(result);
                                },
                                error: function (xhr, status) {
                                    toastr.error('Something went wrong');
                                }
                            });
                        } else {
                            $("#ReservedBy").val("");
                        }
                        $("#ReservedByBox").show();
                        $("#RefferedByDrop").hide();
                    } else {
                        $("#ReservedByBox").hide();
                        $("#RefferedByDrop").hide();
                        $("#AppointmentBox").hide();
                    }
                }
            }


            $('.action-button').click(function () {
                debugger
                var id = this.id;
                var val = this.dataset.value;
                debugger
                if (val) {
                    url = '/admin/patient/' + id + "?id=" + val;
                }
                else {
                    url = '/admin/patient/' + id
                }
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (result) {
                        debugger
                        $(".modal-content").html(result);
                        if (id == "admission") {
                            dynamicAdmissionFields();
                        }
                    },
                    error: function (xhr, status) {
                        debugger
                        toastr.error('Something went wrong');
                    }
                });
            });





            function GetType(event) {
                var id = event.id;
                url = '/admin/patient/'

                if (id == 'AdmissionTypeID') {
                    url = url + 'FillTypeDropDown?id=' + event.value;
                }
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        if (data.length > 0) {
                            if (data[0].typeID) {
                                $("#TypeID").prop("disabled", false);
                                var ddldist = $('#TypeID');
                                var markup = "<option value='0'>Select " + data[0].type.toLowerCase() + " type</option>";
                                $.each(data, function (val, text) {
                                    markup += "<option value=" + text.id + ">" + text.name + "</option>";
                                });
                                $("#TypeID").html(markup).show();
                            }
                        }
                        $("#ReservedByBox").hide();
                        $("#RefferedByDrop").hide();
                        $("#AppointmentBox").hide();
                    },
                    error: function (xhr, status) {
                        toastr.error('Something went wrong');
                    }
                });
            };

            function GetBuilding(event) {
                var id = event.id;
                var selectRoom = "<option value='0'>Select Room</option>";
                var selectBed = "<option value='0'>Select Bed</option>";
                url = '/admin/patient/'

                if (id == 'BuildingID') {
                    url = url + 'FillFloorDropDown?BuildingID=' + event.value;
                }
                if (id == 'FloorID') {
                    url = url + 'FillRoomDropDown?FloorID=' + event.value;
                }
                if (id == 'RoomID') {
                    url = url + 'FillBedDropDown?RoomID=' + event.value;
                }
                if (id == 'AdmissionTypeID') {
                    debugger
                    url = url + 'FillTypeDropDown?id=' + event.value;
                }
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        if (data.length > 0) {
                            if (data[0].buildingID) {
                                var markup = "<option value='0'>Select Floor</option>";
                                var selectRoom = "<option value='0'>Select Room</option>";
                                var selectBed = "<option value='0'>Select Bed</option>";
                                if (data.length > 0) {
                                    $.each(data, function (val, text) {
                                        markup += "<option value=" + text.id + ">" + text.name + "</option>";
                                    });
                                }
                                $("#FloorID").html(markup).show();
                                $("#RoomID").html(selectRoom).show();
                                $("#BedID").html(selectBed).show();
                            }
                            if (data[0].floorID) {
                                var markup = "<option value='0'>Select Room</option>";
                                $.each(data, function (val, text) {
                                    markup += "<option value=" + text.id + ">" + text.name + "</option>";
                                });
                                $("#RoomID").html(markup).show();
                                $("#BedID").html(selectBed).show();
                            }
                            if (data[0].roomID) {
                                var markup = "<option value='0'>Select Bed</option>";
                                $.each(data, function (val, text) {
                                    markup += "<option value=" + text.id + ">" + text.name + "</option>";
                                });
                                $("#BedID").html(markup).show();
                            }
                        }
                    },
                    error: function (xhr, status) {
                        toastr.error('Something went wrong');
                    }
                });
            };

            $(document).on("change", "#PatientAdmission_OutPatientTypeID", function () {
                var OutPatientType = $(this).val();
                if (OutPatientType != 107) {
                    $('#appointReserveWrapper').show();
                } else {
                    $('#appointReserveWrapper').hide();
                }
            });

            $(document).on("change", "#TypeID", function () {
                dynamicAdmissionFields();

            });

            $(document).on("change", "#AppointmentID", function () {
                dynamicAdmissionFields();
            });

            $(document).on("change", "#PatientAdmission_AppointmentID", function () {
                var AppointmentID = $(this).val();
                if (AppointmentID != 0 || AppointmentID != null) {

                    $.ajax({
                        type: "GET",
                        url: '/admin/Patient/GetAppointmentID',
                        data: { AppointmentID: AppointmentID },
                        success: function (data) {
                            console.log(data);
                            debugger
                            $("#PatientAdmission_DepartmentID").val(data.departmentID);
                            $("#PatientAdmission_SpecialityID").val(data.specialityID);
                            $("#PatientAdmission_PurposeID").val(data.purposeID);
                            $("#Appointment_CreatedBy").val(data.createdBy);
                            $("#PatientAdmission_DoctorID").val(data.doctor.id);
                            $("#PatientAdmission_RoomID").val(data.roomID);
                            $("#PatientAdmission_Note").val(data.note);
                        },
                        error: function () {
                            alert("Not able to get appointment details!.");
                        }
                    });
                }
            });
            $("body").on("click", "#pdfExport", function () {
                html2canvas($('#patientTbl')[0], {
                    onrendered: function (canvas) {
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 500
                            }]
                        };
                        pdfMake.createPdf(docDefinition).download("Table.pdf");
                    }
                });
            });

            function fnExcelReport() {
                var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
                var textRange; var j = 0;
                tab = document.getElementById('patientTbl'); // id of table
                $("#hiddenTable").html(tab);
                console.log($("#hiddenTable").html());
                debugger

                for (j = 0; j < tab.rows.length; j++) {
                    tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
                }

                tab_text = tab_text + "</table>";
                tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
                tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
                tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

                var ua = window.navigator.userAgent;
                var msie = ua.indexOf("MSIE ");

                if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
                {
                    txtArea1.document.open("txt/html", "replace");
                    txtArea1.document.write(tab_text);
                    txtArea1.document.close();
                    txtArea1.focus();
                    sa = txtArea1.document.execCommand("SaveAs", true, "Patients.xls");
                }
                else {
                    sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));
                }
                return (sa);
            }

    </script>
}

